@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.13 0.028 261.692);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.21 0.034 264.665);
	--primary-foreground: oklch(0.985 0.002 247.839);
	--secondary: oklch(0.967 0.003 264.542);
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.967 0.003 264.542);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.928 0.006 264.531);
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(100% 0.00011 271.152);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);

	--global-layout-nav-height: 48px;
	--global-layout-padding: 12px;
	--service-nav-height: 36px;
	--windowOS-scrollbar-width: 6px;
}

.dark {
	--background: oklch(0.13 0.028 261.692);
	--foreground: oklch(0.985 0.002 247.839);
	--card: oklch(0.21 0.034 264.665);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: oklch(0.21 0.034 264.665);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: oklch(0.928 0.006 264.531);
	--primary-foreground: oklch(0.21 0.034 264.665);
	--secondary: oklch(0.278 0.033 256.848);
	--secondary-foreground: oklch(0.985 0.002 247.839);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.034 264.665);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.278 0.033 256.848);
	--sidebar-accent-foreground: oklch(0.985 0.002 247.839);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
	* {
		@apply border-border outline-ring/50;

		vertical-align: baseline;
		font-family:
			Inter,
			Jetbrains Mono,
			-apple-system,
			BlinkMacSystemFont,
			system-ui,
			Roboto,
			'Helvetica Neue',
			'Segoe UI',
			'Apple SD Gothic Neo',
			'Noto Sans KR',
			'Malgun Gothic',
			'Apple Color Emoji',
			'Segoe UI Emoji',
			'Segoe UI Symbol',
			sans-serif;
		word-break: keep-all;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}

	html {
		@apply w-full h-full;
	}

	body {
		@apply w-full h-full bg-background text-foreground text-[15px];
	}

	ul,
	ol,
	li {
		padding-left: 0;
		list-style-type: none;
	}

	a {
		-webkit-touch-callout: none;
		text-decoration: none;
		color: inherit;
	}

	a,
	button {
		cursor: pointer;
	}

	button,
	input,
	select,
	textarea {
		background-color: transparent;
		border: 0;
	}

	button:focus,
	input:focus,
	select:focus,
	textarea:focus {
		outline: none;
		box-shadow: none;
	}

	input[type='text'],
	input[type='number'],
	input[type='email'],
	input[type='tel'],
	input[type='password'],
	textarea {
		border-radius: 0;
		-webkit-text-size-adjust: 100%; /* prevent text resizing on iOS */
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove highlight effect when user tapped */
	}

	select {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	::-moz-selection {
		@apply bg-black text-white;
	}

	::selection {
		@apply bg-black text-white;
	}

	.bg-light {
		@apply bg-gray-50;
	}

	.ui-flex-center {
		@apply flex justify-center items-center;
	}

	.min-h-svh {
		min-height: 100svh;
	}

	.min-h-lvh {
		min-height: 100lvh;
	}

	.scrollbar-hide {
		overflow: auto; /* 스크롤 가능 */

		/* Firefox */
		scrollbar-width: none;

		/* IE 10+ */
		-ms-overflow-style: none;
	}
	/* Chrome, Safari, Edge */
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-thin {
		scrollbar-gutter: stable overlay;
	}

	/* thin scrollbar (Edge, Chrome)*/
	.scrollbar-thin::-webkit-scrollbar {
		width: var(--windowOS-scrollbar-width);
		height: var(--windowOS-scrollbar-width);
	}

	.scrollbar-thin::-webkit-scrollbar-thumb {
		background-color: rgba(100, 100, 100, 0.3);
		border-radius: 12px;
	}

	.scrollbar-thin::-webkit-scrollbar-thumb:hover {
		background-color: rgba(100, 100, 100, 0.5);
	}

	.bg-gradient-skeleton {
		background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
		background-size: 200% 100%;
		animation: shine 1.5s infinite;
	}

	@keyframes shine {
		to {
			background-position-x: -200%;
		}
	}

	.bg-gradient-blue-50 {
		@apply bg-radial-[at_25%_90%] from-sky-100 via-blue-300 to-sky-50;
	}

	.bg-gradient-blue-100 {
		@apply bg-radial-[at_25%_90%] from-sky-200 via-blue-400 to-sky-50;
	}

	.bg-gradient-blue-100-ro {
		@apply bg-radial-[at_50%_75%] from-sky-200 via-blue-400 to-sky-50;
	}

	.bg-gradient-blue-200 {
		@apply bg-radial-[at_25%_90%] from-sky-300 via-blue-500 to-indigo-100;
	}

	.bg-gradient-blue-300 {
		@apply bg-radial-[at_20%_80%] from-sky-100 via-blue-400 to-indigo-200 to-90%;
	}

	.bg-gradient-blue-400 {
		@apply bg-radial-[at_20%_80%] from-sky-300 via-blue-500 to-indigo-400 to-90%;
	}

	.bg-gradient-gray-100 {
		@apply bg-radial-[at_50%_75%] from-gray-100 via-gray-300 to-gray-50 to-90%;
	}

	.bg-gradient-gray-200 {
		@apply bg-radial-[at_50%_75%] from-gray-200 via-gray-400 to-gray-100 to-90%;
	}

	.bg-gradient-indigo-gray-50 {
		@apply bg-radial-[at_50%_75%] from-gray-100 via-gray-300 to-indigo-100;
	}

	.bg-gradient-indigo-gray-100 {
		@apply bg-radial-[at_50%_75%] from-gray-200 via-gray-400 to-indigo-100;
	}

	.bg-gradient-indigo-gray-200 {
		@apply bg-radial-[at_40%_80%] from-gray-300 via-gray-500 to-indigo-200;
	}

	.react-pdf__Page__canvas {
		max-width: 100% !important;
		height: auto !important;
	}
}
